#button {
    background: #004c8c;
    border: dashed 1px #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #004c8c;
    color: #ffffff;
    display: inline-block;
    font-size: 30px;
    text-decoration: none;
    line-height: 100px;
    overflow: hidden;
    text-align: center;
    transition: .4s;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    margin-right: 70px;
    margin-left: 100px;
}

#reset {
    background: ;
    border: dashed 1px #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #004c8c;
    color: blue;
    display: inline-block;
    font-size: 30px;
    text-decoration: none;
    line-height: 100px;
    overflow: hidden;
    text-align: center;
    transition: .4s;
    vertical-align: middle;
    width: 200px;
    height: 200px;
}

#time {
    font-size: 40px;
    margin: 50px;
    border: 2px solid blue;
    text-align: center;
}


@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'メイリオ', Osaka;
    margin: 2em;
}
h1{
    border-bottom:solid 1px #555;
}
p#time{
    font-size: 48pt;
    padding-top: 0.5em;
}
button{
    width:5em;
    padding:5pt;
    font-size: 20pt;
    border:solid 1px #555;
    border-radius: 12pt;
}
button:hover{
    background-color: pink;
}
footer{
    color: #ddd;
    background-color: transparent;
    text-align: right;
}